/* main design */
body{
    text-align: center;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
}

/* design of main interactive content */
ul{
    margin: top 15px right 0px bottom 15px left 0px;
    padding: 0;
}

ul li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0; 
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    font-style: italic ;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
/* design of main static content */

ol{
    text-align: start;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;
}

/* design of unimplemented functionalities, can't get it right yet! */
.buttons button{
    margin-top: 10px;
    padding: 15px;
    background: #ffffff;
    color: black;
}
.buttons button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.section-a{
    text-align: center;
    display: inline-block;
    margin: right 5px left 5px;
    padding: 0;
}

#insta_anchor{
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 20pt;
    font-weight: 700;
}

#jona{
    font-size: 18pt;
    color: #9047ff;
}

#jona:hover{
    color: #ffd100;
    text-shadow: rgba(0,0,0,0.5);
}