/* main design */
body{
    text-align: center;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier Prime', monospace;
}

/* design of main interactive content */
ul{
    margin: top 15px right 0px bottom 15px left 0px;
    padding: 0;
}

ul li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: right 5px left 5px;
    padding: 0; 
}
/* design of main static content */

ol{
    text-align: start;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 25px;
}

/* design of unimplemented functionalities, can't get it right yet! */
.buttons button{
    margin-top: 10px;
    padding: 15px;
    background: #ffffff;
    color: black;
}
.buttons button:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

#topcoder{
    text-align: center;
}